body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;
}
h1 {
    font-weight: normal;
    font-size: 50px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
p {
    font-size: 21px;
    color: gray;
}
.download a {
    color: aquamarine;
    font-size: 16px;
}
footer {
    text-align: right;
}